<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Профиль ползователя</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
</head>
<body>
<div class="container">
    <form method="get">
        <h2 >Выберите действие.</h2>
        <button class="btn" type="submit" formaction="profile/upload">Загрузить работу</button>
        <button class="btn" type="submit" formaction="profile/grade">Взять на оценку</button>
        <button class="btn" type="submit" formaction="profile/mygrades">Посмотреть оценки</button>
        <hr>
        <button class="btn" type="submit" formaction="profile/logout">Выйти</button>
    </form>
</div>
</body>
</html>